doctype html
html
   head
      title = "Homepage!"
      style.
          body {
              font-family: Verdana;
              font-size: 17px;
              background: #C270F5;
              text-align:center;
          }
   body
     h1 Homepage!
     a(href='/database') Enter Your Details!
     br
     br
     a(href='/getdetails') See The Database!
     br
     br
     a(href='/find') Search The Database!
     h3 By Christopher Rogers
